

<h1>Sample App</h1>
<p>This is the about page for the <a href="http://railsttorial.org/">Ruby on Rails Tutorial</a> sample application</p>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>